<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <p>Data From 1</p>
    <form action="/formdata" method="POST"><input type="text" name="data">
        <br><br>
        <p>Data From 2</p>
        <form action="/formdata" method="POST"><input type="text" name="data">
            <br><br>
            <p>Data From 3</p>
            <form action="/formdata" method="POST"><input type="text" name="data">
                <br>
                <button type="submit">Submit</button>
</body>

</html>