<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<h3>Form 1: <%= form_1%>
</h3>
<br>
<h3>Form 2: <%= form_2%>
</h3>
<br>
<h3>Form 3: <%= form_3%>
</h3>

<body>
</body>

</html>